@use '../abstract/variaveis';
@use '../abstract/mixins';

#nosso-espaco {
    @include mixins.margin-central(80%);

    .detalhes {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        padding: 2rem 0;

        .imgs-espaco {
            max-width: 500px;
        }

        .espaco-textos {
            @extend .imgs-espaco;

            .titulo {
                @include mixins.ff-fs-cl(variaveis.$ft-titulos, 1.8rem, variaveis.$cor-secundaria);
                font-weight: 500;
            }

            .infos {
                @include mixins.ff-fs-cl(variaveis.$ft-textos, 1.2rem, variaveis.$cor-primaria);
            }

            .separador {
                width: 100%;
            }
        }
        &:nth-child(2) {
            flex-direction: row-reverse;
        }
    }
}

@media (max-width: 425px) {
    #nosso-espaco {
        .detalhes {
            .imgs-espaco {
                img {
                    width: 100%;
                    padding-top: 3em;
                }
                .espaco-textos {
                    font-size: 1rem;
                    width: 95%;
                    .separador {
                        width: 95%;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #nosso-espaco {
        .detalhes {
            display: grid;
            justify-items: center;

            .imgs-espaco {
                img {
                    margin-inline-start: 5px;
                }
            }
        }
    }
}